[submodule "packages/smart-contracts/lib/forge-std"]
	path = packages/smart-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/smart-contracts/lib/openzeppelin-contracts"]
	path = packages/smart-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "packages/smart-contracts/lib/eas-contracts"]
	path = packages/smart-contracts/lib/eas-contracts
	url = https://github.com/ethereum-attestation-service/eas-contracts
[submodule "packages/smart-contracts/lib/hypercerts"]
	path = packages/smart-contracts/lib/hypercerts
	url = https://github.com/hypercerts-org/hypercerts
